# IDE stuff
.idea/
*.iml

# because macs
*.DS_Store

# environments
*venv*/
.tox/
*.pid
.env

# python stuff
__pycache__/
*.py[cod]
.Python
*.egg-info/
*.egg
build/
dist/

# Django stuff
*.log
local_*.yaml
/configs/local*.yaml
static/
media/

# pytest
.pytest_cache/
.coverage
pytest.ini
coverage.xml
